@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme-bg: rgba(246, 252, 252, 1) !important;
  --nav-width: 300px !important;
  --font-body: 'Ubuntu', sans-serif !important;
  --font-mono: 'Ubuntu', sans-serif !important;
  --font-serif: 'Ubuntu', sans-serif !important;

  --color-base-1000: rgba(40, 53, 69);
  --color-base-950: rgba(40, 53, 69);
  --color-base-900: rgba(40, 53, 69);
  --color-base-850: rgba(40, 53, 69);
  --color-base-800: rgb(65, 113, 112);
  --color-base-750: rgb(65, 113, 112);
  --color-base-700: rgb(65, 113, 112);
  --color-base-650: rgb(65, 113, 112);
  --color-base-600: rgb(117, 170, 168);
  --color-base-550: rgb(117, 170, 168);
  --color-base-500: rgb(117, 170, 168);
  --color-base-450: rgb(117, 170, 168);
  --color-base-400: rgb(174, 203, 206);
  --color-base-350: rgb(174, 203, 206);
  --color-base-300: rgb(174, 203, 206);
  --color-base-250: rgb(174, 203, 206);
  --color-base-200: rgb(232, 242, 240);
  --color-base-150: rgb(232, 242, 240);
  --color-base-100: rgb(232, 242, 240);
  --color-base-50: rgb(232, 242, 240);
  --color-base-0: rgb(232, 242, 240);

  --theme-elevation-50: white !important;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 243, 251, 251;
  --background-end-rgb: 255, 255, 255;
}
* {
  letter-spacing: 0 !important;
}

@media (prefers-color-scheme: dark) {
  :root {
  --theme-bg: rgba(246, 252, 252, 1) !important;
  --nav-width: 300px !important;
  --font-body: 'Ubuntu', sans-serif !important;
  --font-mono: 'Ubuntu', sans-serif !important;
  --font-serif: 'Ubuntu', sans-serif !important;

  --color-base-1000: rgba(40, 53, 69);
  --color-base-950: rgba(40, 53, 69);
  --color-base-900: rgba(40, 53, 69);
  --color-base-850: rgba(40, 53, 69);
  --color-base-800: rgb(65, 113, 112);
  --color-base-750: rgb(65, 113, 112);
  --color-base-700: rgb(65, 113, 112);
  --color-base-650: rgb(65, 113, 112);
  --color-base-600: rgb(117, 170, 168);
  --color-base-550: rgb(117, 170, 168);
  --color-base-500: rgb(117, 170, 168);
  --color-base-450: rgb(117, 170, 168);
  --color-base-400: rgb(174, 203, 206);
  --color-base-350: rgb(174, 203, 206);
  --color-base-300: rgb(174, 203, 206);
  --color-base-250: rgb(174, 203, 206);
  --color-base-200: rgb(232, 242, 240);
  --color-base-150: rgb(232, 242, 240);
  --color-base-100: rgb(232, 242, 240);
  --color-base-50: rgb(232, 242, 240);
  --color-base-0: rgb(232, 242, 240);

  --theme-elevation-50: white !important;

  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 243, 251, 251;
  --background-end-rgb: 255, 255, 255;
  }

}

.btn--style-primary {
  @apply bg-gradient-to-r from-primary-dark to-primary-light hover:bg-gradient-to-r hover:from-primary-dark hover:to-primary-light;
}

